# MongoDB Database Connection
MONGODB_URI=mongodb://localhost:27017/shopvalue
# For MongoDB Atlas: mongodb+srv://username:password@cluster.mongodb.net/shopvalue

# Environment
NODE_ENV=development

# Scraping (BrightData)
BRIGHTDATA_USERNAME=your_brightdata_username
BRIGHTDATA_PASSWORD=your_brightdata_password

# Next.js
NEXTAUTH_SECRET=your_nextauth_secret
NEXTAUTH_URL=http://localhost:3000